{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
            "browsers" : ["chrome 72"]
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs": 3
      }
    ]
  ]
}
